@charset "UTF-8";
* {
  margin: 0;
  padding: 0; }

body {
  background: #002635;
  color: #fff; }

/* HEADER BAR SETTINGS */
header {
  position: fixed;
  padding-top: 20px;
  height: 60px;
  box-shadow: 0px 5px 10px black;
  width: 100%;
  z-index: 999;
  background: #002635; }
  header div.container {
    margin: 0 auto;
    width: 70%;
    display: flex;
    align-items: stretch; }
    header div.container nav, header div.container h1 {
      flex: 1 100px; }
    header div.container nav {
      flex-grow: 2; }
  header nav {
    display: flex;
    justify-content: space-around; }
    header nav a {
      display: flex;
      justify-content: center;
      text-decoration: none;
      color: #fff;
      width: 100%;
      text-align: center;
      font-size: 1.2em; }
      header nav a:hover {
        color: #002635;
        background: #fff; }
      header nav a span {
        align-self: center; }

@media (max-width: 700px) {
  header {
    min-height: 90vh;
    position: relative; }
    header div.container, header nav {
      text-align: center;
      flex-direction: column;
      align-items: stretch; }
    header nav a {
      width: inherit;
      border: 1px solid #fff;
      border-radius: 10px;
      padding: 15px;
      margin: 5px; }
      header nav a:last-child {
        border-width: 1px; }
    header:after {
      position: absolute;
      top: 80vh;
      left: 45vw;
      color: #fff;
      font-size: 3em;
      font-family: FontAwesome;
      content: "\f01a"; } }
/* CONTENT SETTINGS */
.body-content {
  max-width: 70%;
  margin: 0 auto;
  padding-top: 100px; }
  .body-content p {
    margin-bottom: 1.5em; }
  .body-content .section {
    margin-bottom: 100px; }
    .body-content .section img {
      width: 35%;
      max-width: 350px; }
      .body-content .section img.left {
        float: left;
        padding: 10px 15px 10px 0; }
      .body-content .section img.right {
        float: right;
        padding: 10px 0 10px 15px; }
    .body-content .section h2 {
      font-size: 2em;
      border: solid #fff;
      border-width: 2px 0;
      margin-bottom: 50px;
      padding: 0 10px; }
    .body-content .section.aboutBand h2 {
      text-align: center; }
    .body-content .section.aboutBM h2 {
      text-align: right; }

@media (max-width: 700px) {
  .body-content {
    padding-top: 25px; }
    .body-content .section img {
      width: 100%;
      max-width: 100%;
      margin: 0 0 25px; }
      .body-content .section img.right {
        float: none; }
      .body-content .section img.left {
        float: none; }
    .body-content .section p {
      text-align: justify; }
    .body-content .section.bandMember h2 {
      text-align: center !important; } }
/* GENERAL SETTINGS */
.clearfix:after {
  content: “”;
  display: table;
  clear: both; }
